altair==4.1.0
attrs==21.2.0
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
decorator==4.4.2
entrypoints==0.3
Flask==2.0.0
idna==2.10
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jsonpickle==2.0.0
jsonschema==3.2.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
networkx==2.5.1
numpy==1.20.3
pandas==1.2.4
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.18
Pygments==2.9.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pyvis==0.1.9
requests==2.25.1
six==1.16.0
spotipy==2.18.0
toolz==0.11.1
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==2.0.1
