<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}" >
    <title>Spotify (Un)wrapped</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
    <script>
      function getRadioButtonValue() {
        return document.querySelector('input[name = "term"]:checked').value;
      }
      
      function refreshFrame(id) {
        document.getElementById(id).contentWindow.location.reload(true);
      }

      async function postSelection() {
        const response = await fetch('/streamgraph',
          {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(getRadioButtonValue()),
        });
        return response.json();
      }
    </script>
  </head>
  <!-- position:absolute;top:0px;width:50%;height:100vh; -->
  <body>

    <!-- General page set up -->
    <div class = "logo">
      <p><img src= "{{ url_for('static', filename='images/logo.png') }}" width = 135 height = 135 alt="logo"></p>
    </div>

    <div class = "title">
      <h1> Spotify (Un)wrapped </h1>
    </div>

    <div class = "header">
    </div>

    <!-- this fully does not work-->
    <div class="footer">
      <p>Rocio Jaime, Sophie Li, Ester Zhao</p>
    </div>

    <!-- Page content -->
    <div id = "introParagraph">
      <h2> Welcome to Spotify (Un)wrapped... </h2>
      <p>...where you can view your Spotify analytics any time of year!
        Explore our interactive genre network graph, or upload your Spotify streaming history to view your stream history graph. 
      Happy exploring!</p>
      <br></br>
    </div>

    <div id = "genreGraph">
      <h3>Genre Network</h3>
      <p>Artist nodes are sized according to user preference (largest = your #1 artist) and edge weights are dictated by how many genres artists share in common. 
        </p>
      <p>The color of the artist node is mapped to the Spotify-generated artist popularity metric out of 100. 
      </p>
      <p>Click on an artist to view their ranking in your top artists, as well as the list of genres they are associated with. Click on an edge to view the genre linking two artists. 
        Feel free to click and drag artists to move them around and see how they connect to each other, and have fun exploring your music taste! 
        </p>
      <br></br>
      <div id = "rightImage">
          <div id="radio-buttons">
            <input type="radio" name="term" id="short-term" value="short-term" onclick="postSelection().then(() => refreshFrame('genreVis'));" checked/>
            <label for="short-term">short-term</label>
            <input type="radio" name="term" id="medium-term" value="medium-term" onclick="postSelection().then(() => refreshFrame('genreVis'));" />
            <label for="medium-term">medium-term</label>
            <input type="radio" name="term" id="long-term" value="long-term" onclick="postSelection().then(() => refreshFrame('genreVis'));"/>
            <label for="long-term">long-term</label>      
          </div>
        <iframe id = "genreVis" src="{{ url_for('show_network') }}"></iframe>
      </div>
      <div id = "leftImage">
        <p><img src= "{{ url_for('static', filename='images/popularity_key.jpg') }}" alt="key" style="padding-left: .01in;"></p>
      </div>
      <br></br>
    </div>

    <div id = "streamGraph">
      <h3>Stream Graph</h3>
      <p>Upload your Spotify Streaming history below (files named StreamingHistory*.json), 
        or request your account data from Spotify. This may take a few days. 
      </p>
      <p> The streamgraph below provides an analysis of your streaming data by the month. 
        We filter for the top 20 artists listened to during the entire timespan of the submitted data. 
        Streamgraphs have a tendency to be hard to read if displaying too much data, so this filtering is necessary to avoid a cluttered visualization. 
        </p>
        <p>You can click on an artist’s name in the legend to highlight your streaming pattern over time for that artist. You can also drag and slide the streamgraph if you want to view data over a greater timespan.</p>
        <!-- <p><a href=”https://www.spotify.com/us/account/privacy/”>test</a></p> -->

        <div id="form">
          <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>  
        </div>
        <div id="streamVis">
          <script type="text/javascript">
            var yourVlSpec = {{ data|safe }}
            vegaEmbed('#streamVis', yourVlSpec);
          </script>
        </div>
    </div>
  </body>
</html>