
* {
    box-sizing: border-box;
  }
  
  /* Main body style */
  body {
    position: relative;
    background-color:	#212121;
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
  }
  
  /* Canvas style */
  canvas {
    background-color: white;
  }
  
  form {
    margin-top: .5in;
    margin-left: 0.25in;
  }

  .logo {
    position: absolute;
    top: -.1in;
    left: 0.2in;
  }
  
  .title {
    position: absolute;
    color: #1DB954;
    left: 2.25in;
    top: 0.1in;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    width: 50%;
  }
  
  .header {
    position: absolute;
    z-index: 1;
    background-color: #1DB954;
    width: 100%;
    height: 0.5in;
    top: 1.8in;
    padding-left:0;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1in;
  }

  .footer #p1{
    margin-top: .25in;
  }
  
  .center {
    width: 500px;
    padding:0;
    margin: auto;
  }
  
  .button {
    display: inline-block;
    background-color: #1DB954;
    width: 100px;
    height: 50px;
    text-align: center;
    color:white;
    text-decoration:none;
    font-family: Verdana;
    font-size: 15px;
    border: none;
  }
  
  /* IDs */
  
  #introParagraph {
    position: absolute;
    left: 0.2in;
    top: 2.25in;
    width: 100%;
    padding-right:0.4in;
    padding-left:0.4in;
  }
  
  #genreGraph {
    display:block; 
    position: absolute;
    left: .4in;
    top: 4in;
    min-width: 600px;
    margin-bottom: .75in;
    padding-right:0.4in;
    padding-left:0.4in;
  }

  #streamGraph {
    display:block; 
    position: absolute;
    left: .4in;
    top: 12in;
    min-width: 600px;
    margin-bottom: .75in;
    padding-right:0.4in;
    padding-left:0.4in;
  }
  
  #streamVis {
    height:650px;
    width:100%;
  }

  #genreVis {
    width:100%;
    height:500px;
  }

  #form {
    /* position: absolute;
    left: 0.2in;
    top: 2.25in; */
    position:static;
    width: 100%;
  }

  #leftImage {
    position: relative;
    float: left;
    width: 10%;
    margin-right: 0in;
    margin-left: 0.01in;
  }
  
  #rightImage {
    position: relative;
    float: right;
    width:75%;
    margin-right: 0.01in;
    margin-left: 0in;
  }
  
  #centralImage {
    position: absolute;
    top: 4in;
    width: 100%;
  }
